.clang-format
plots/
results/
distributions/
backupTestsAS
backupTestsDFS
realtimeSolver
realtimeSolver.lock
realtimeSolver-debug
thrt
thrt-debug
generateTrees
lastIncremental
*.txt
*.nfs*
